.splitlayout {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.side {
    position: relative;
    top: 0;
    z-index: 100;
    width: 50%;
    float:left;
    height: 100%;
    text-align: center;
}
.intro {
    height: 100%;
}
.side-right {
    cursor: pointer;
    right: 0;
    background: rgb(248,147,31);
    color: #fff;
    outline: 1px solid rgb(248,147,31); /* avoid gap */
}
.side-left {
    cursor: pointer;
    left: 0;
    background: #fff;
    color: rgb(248,147,31);
    outline: 1px solid #fff; /* avoid gap */
}
/* Intro content, profile image and name, back button */
.intro-content {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.profile {
    margin: 0 auto;
    width: 140px;
    height: 140px;
}
.profile img {
    max-width: 100%;
    border-radius: 50%;
}
.intro-content h1 > span {
    display: block;
    white-space: nowrap;
}
.intro-content h1 > span:first-child {
    font-weight: 300;
    font-size: 2em;
}
.intro-content h1 > span:nth-child(2) {
    position: relative;
    margin-top: 0.5em;
    padding-top: 0.8em;
}
.intro-content h1 > span:nth-child(2):before {
    position: absolute;
    top: 0;
    left: 37.5%;
    width: 25%;
    height: 2px;
    background: #fff;
    content: '';
}
.side-left .intro-content h1 > span:nth-child(2):before {
    background: rgb(248,147,31);
}
.intro-content h1 > span:nth-child(3) {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}
.back {
    position: absolute;
    top: 2.6em;
    z-index: 500;
    display: block;
    visibility: hidden;
    height: 50px;
    color: rgb(248,147,31);
    text-align: center;
    font-size: 26px;
    line-height: 44px;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
}
.back-left {
    left: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
}
.back-right {
    right: 10%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.open-right .back-left,
.open-left .back-right {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    pointer-events: auto;
}
/* Pages */
.page {
    top: 0;
    overflow: auto;
    height: 100%;
    width: 60%;
}
.page-right {
    left: 40%;
    outline: 5px solid #fff; /* avoid rounding gaps */
    background: #fff;
    color: rgb(248,147,31);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.page-left {
    left: 20%;
    outline: 5px solid rgb(248,147,31); /* avoid rounding gaps */
    background: rgb(248,147,31);
    color: #fff;
    text-align: right;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
/* Inner page content */
.page-inner {
    padding: 2em;
}
.page-inner section {
    padding-bottom: 1em;
}
.page-inner h2 {
    font-weight: 300;
    font-size: 2em;
}
.page-inner p {
    font-weight: 300;
    font-size: 1.4em;
}
/* All transitions */
.side, .page {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.intro-content {
    -webkit-transition: -webkit-transform 0.5s ease-in-out, top 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
}
.intro-content h1,
.back {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
/* Open and close */
/* We need to set the position and overflow for the respective page scroll */
.splitlayout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right {
    position: absolute;
    overflow: hidden;
    height: 100%;
}
.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left {
    overflow: auto;
    height: 100%;
}
.open-right .side-left .overlay,
.open-left .side-right .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
/* Right side open */
.open-right .side-left {
    -webkit-transform: translateX(-60%) scale(.5);
    transform: translateX(-60%) scale(.5);
}
.open-right .side-right {
    z-index: 200;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
}
.close-right .side-right {
    z-index: 200;
}
.open-right .side-right .intro-content {
    -webkit-transform: translateX(-25%) translateY(-50%) scale(0.6);
    transform: translateX(-25%) translateY(-50%) scale(0.6);
}
.open-right .page-right {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
/* Left side open */
.open-left .side-right {
    -webkit-transform: translateX(60%) scale(.5);
    transform: translateX(60%) scale(.5);
}
.open-left .side-left {
    z-index: 200;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}
.close-left .side-left {
    z-index: 200;
}
.open-left .side-left .intro-content {
    -webkit-transform: translateY(-50%) translateX(-75%) scale(0.6);
    transform: translateY(-50%) translateX(-75%) scale(0.6);
}
.open-left .page-left {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
/* Media Queries */
@media screen and (max-width: 83em) {
    .intro-content { font-size: 60%; }
}
@media screen and (max-width: 58em) {
    body { font-size: 90%; }
}
@media screen and (max-width: 49.4375em) {
    .open-right .side-right {
        -webkit-transform: translateX(-175%);
        transform: translateX(-175%);
    }
    .open-right .side-left {
        -webkit-transform: translateX(-100%) scale(.7);
        transform: translateX(-100%) scale(.7);
    }
    .open-left .side-right {
        -webkit-transform: translateX(100%) scale(.7);
        transform: translateX(100%) scale(.7);
    }
    .open-left .side-left {
        -webkit-transform: translateX(175%);
        transform: translateX(175%);
    }
    .page {
        width: 70%;
    }
    .page-right {
        left: 0;
        padding-left: 40%;
    }
    .page-left {
        padding-right: 15%;
    }
    .open-right .side-right .intro-content {
        -webkit-transform: translateY(-50%) translateX(-12.5%) scale(0.5);
        transform: translateY(-50%) translateX(-12.5%) scale(0.5);
    }
    .open-left .side-left .intro-content {
        -webkit-transform: translateY(-50%) translateX(-87.5%) scale(0.5);
        transform: translateY(-50%) translateX(-87.5%) scale(0.5);
    }
    .open-right .intro-content h1,
    .open-left .intro-content h1 {
        opacity: 0;
    }
    .back-left {
        left: 25.5%;
    }
    .back-right {
        right: 5%;
    }
}
@media screen and (max-width: 42.5em) {
    body { font-size: 80%; }
    .intro-content { font-size: 50%; }
}
@media screen and (max-width: 320px) {
    body { font-size: 70%; }
}