@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background: url(../images/groovepaper.png);
}
#logo-image {
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: -5%;
    margin: 0 auto;
    width: auto;
    max-width: 150%;
    height: auto;
    max-height: 150%;
}
/*#device-showcase {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}*/
.device-image {
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: ease-out;
}
.device-image:hover {
    cursor: pointer;
}
#imac-image {
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
}
#iphone-image {
    bottom: 5%;
    left: 0%;
    margin: 0 auto;
    width: auto;
    max-width: 40%;
    height: auto;
    max-height: 40%;
}

#iphone-image.active {
    left: 10%;
}
#ipad-image {
    bottom: 7%;
    right: 0%;
    margin: 0 auto;
    width: auto;
    max-width: 40%;
    height: auto;
    max-height: 40%;
}
#ipad-image.active {
    right: 10%;
}
.section {
    background-size: cover;
}
#what-we-do-section {
    /*background-image: url(../images/background_blurred.png);*/
}
#who-we-are-section {
    
}
#portfolio-section {
    
}
#contact-section {
    
}
#fullPage-nav span {
    border-color: rgba(242, 131, 0, 1.0) !important;
}

#fullPage-nav li .active span {
    background: rgba(242, 131, 0, 1.0) !important;
}
#navigate-down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    animation:slide_arrow 1s infinite;
    -webkit-animation:slide_arrow 1s infinite; /* Safari and Chrome */
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.controlArrow {
    display: none !important;
}

@keyframes slide_arrow {
    from {bottom:10px;}
to {bottom: 0px;}
}

@-webkit-keyframes slide_arrow /* Safari and Chrome */
{
    from {bottom:10px;}
to {bottom:0px;}
}

#who-we-are-left {
    width: 50%;
    height: 100%;
    float: left;
}

#who-we-are-right {
    width: 50%;
    height: 100%;
    float: left;
}

.who-we-are-image {
    position: absolute;
    top: 40%;
    bottom: 0;
    margin: 0 auto;
    transition-delay: 0s;
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: ease-out;
/*    width: 300px;
    height: 300px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;    */
}

#saron {
    /*background: url(../images/saron.jpg) no-repeat;*/
    left: 0%;
}
#saron.active {
    left: 20%;
}
#robin {
    /*background: url(../images/robin.jpg) no-repeat;*/
    right: 0%;
}
#robin.active {
    right: 20%;
}

.circular-image img {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
}

@media all and (max-width: 1024px) {
    .circular-image img {
        width: 250px !important;
        height: 250px !important;
        -webkit-border-radius: 125px !important;
        -moz-border-radius: 125px !important;
        -ms-border-radius: 125px !important;
        -o-border-radius: 125px !important;
        border-radius: 125px !important;
    }
}

@media all and (max-width: 768px) {
    .circular-image img {
        width: 200px !important;
        height: 200px !important;
        -webkit-border-radius: 100px !important;
        -moz-border-radius: 100px !important;
        -ms-border-radius: 100px !important;
        -o-border-radius: 100px !important;
        border-radius: 100px !important;
    }
    
    #saron {
        left: 10% !important;
    }
    
    #robin {
        right: 10% !important;
    }
}

@media all and (max-width: 480px) {

    .circular-image img {
        width: 100px !important;
        height: 100px !important;
        -webkit-border-radius: 50px !important;
        -moz-border-radius: 50px !important;
        -ms-border-radius: 50px !important;
        -o-border-radius: 50px !important;
        border-radius: 50px !important;
    }

    #saron {
        left: 10% !important;
    }

    #robin {
        right: 10% !important;
    }
    
}

.who-are-we-name {
    text-align: center;
    font-weight: 100;
}